<label class="col-sm-3">Tên Đăng Nhập </label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="TenDangNhap"/></div>
<label class="col-sm-3">Mật Khẩu</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="MatKhau"/></div>
<label class="col-sm-3">Người Thêm</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="NguoiThem"/></div>
<label class="col-sm-3">Người Sửa</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="NguoiSua"/></div>


<button class="btn btn-primary" (click)="luuNV()" >Lưu</button>  
<!-- <button class="btn btn-primary" (click)="suaNhatKhoan()" *ngIf="maNhatKhoan!=0">Sửa Nhân Viên</button>   -->