<label class="col-sm-3">Tên Nhân Viên </label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="tenNhanVien"/></div>
<label class="col-sm-3">Địa Chỉ</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="diaChi"/></div>
<label class="col-sm-3">Giới Tính </label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="gioiTinh"/></div>
<label class="col-sm-3">Ngay Sinh </label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="ngaySinh"/></div>
<label class="col-sm-3">Số Điện Thoại</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="soDienThoai"/></div>
<label class="col-sm-3">Chứng Minh Nhân Dân </label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="cmnd"/></div>
<label class="col-sm-3">ID Phòng Ban</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="IDPhongBan"/></div>
<label class="col-sm-3">ID Nhóm Quyền</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="idNhomQuyen"/></div>
<label class="col-sm-3">Người Thêm</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="nguoiThem"/></div>
<label class="col-sm-3">Người Sửa</label>
<div class="col-sm-9"><input class="form-control" [(ngModel)]="nguoiSua"/></div>


<button class="btn btn-primary" (click)="luuNV()" >Lưu</button>  
<!-- <button class="btn btn-primary" (click)="suaNhanVien()" *ngIf="maNhanVien!=0">Sửa Nhân Viên</button>   -->